{
  "root": true,
  "extends": "eslint:recommended",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "commonjs": true
  },

  "rules": {
    "indent": [2, 2],
    "no-console": 0
  }
}
