.DS_Store
*.swp
*.swo
*.log
*.iml
.idea
.project
.gradle
.weex_tmp
alpha/MyApp/*

node_modules/*


bower_components/
.svn/
.sass-cache/
npm-debug.log*
test/
coverage/
dist/
TODO/
node_modules/cordova-lib/node_modules/.bin/opener
node_modules/cordova-lib/node_modules/opener/

weexapp/
weexpackdemo/
weex-plugin/


